--index-url https://download.pytorch.org/whl/cu118
--extra-index-url https://pypi.org/simple

numpy<1.26.0
torch==2.1.2
torchvision==0.16.2
diffusers==0.20.2
transformers==4.34.1
peft==0.6.2
accelerate==0.24.1
facenet-pytorch==2.5.3