--index-url https://download.pytorch.org/whl/cu118
--extra-index-url https://pypi.org/simple

numpy==1.26.4
torch==2.1.2
torchvision==0.16.2
diffusers==0.31.0
transformers==4.46.3
peft==0.13.2
accelerate==0.34.2
huggingface_hub==0.26.2
tokenizers==0.20.3
bitsandbytes==0.43.3
safetensors>=0.4.3
sentencepiece>=0.2.0
protobuf>=4.25.3
tensorboard>=2.14.0
facenet-pytorch==2.5.3
